<tool name="GitHubAPIv3">  <version>0.4.0</version>  <date>2019-06-11</date>  <files></files>  <container>#._GitHubAPIv3</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>Tester</script>  </needs>  <scriptOnly>1</scriptOnly>  <wsid>Development</wsid>  <autoload>1</autoload>  <buildid>15</buildid></tool>